        .winterq .sb-slider-frame {
          position: relative !important;
          color: white !important;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
        }
        .winterq .sb-slider-img {
          width: 100% !important;
          height: auto !important;
          z-index: -1 !important;
        }
        .winterq .sb-slider-img img {
          width: 100% !important;
        }
        .winterq.unslider-fade .sb-slider-img img {
          width: 100% !important;
        }
        .unslider .winterq.unslider-fade  ul {
          padding-top: 26% !important;
        }
        .winterq .sb-slider-header {
    font-size: 5em !important;
    position: static !important;
    padding: 0.05em 0.1em !important;
    font-size: 0.7em !important;
    line-height: 1.2em !important;
    color: #10102F !important;
        }
        .winterq .sb-slider-text {
          position: static !important;
          font-size: 0.2em !important;
          line-height: 1.3em !important;
          max-width: none !important;
          padding: 0.1em 0.5em !important;
        }
        .winterq .sb-slider-content {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    position: absolute !important;
    bottom: 0vw !important;
    right: 0vw !important;
    height: 7vw !important;
    font-size: 4vw !important;
    width: 32vw !important;
        }
        .winterq .sb-slider__item-template {
          display: none !important;
        }
        .winterq .unslider-arrow {
          top: 50% !important;
          color: #10102F !important;
          transform: translateY(-50%) !important;
        }
        .winterq ~ .unslider-arrow:hover::before {
          color: #10102F !important;
        }
        .winterq .unslider-arrow.next {
          right: 1vw !important;
        }
        .winterq .unslider-arrow.prev {
          left: 1vw !important;
        }
        
        .unslider .winterq .sb-slider-header
        {
          background-color: inherit;
          
        }
        .unslider .winterq .sb-slider-text
        {
          background-color: inherit;
          
        }
        
        body .own_portfolio#portfolio
        {
              background: white  !important;
        }
        
       .container_own {
          padding: 17px 0 !important;
        }
        
        .own_box_padding
        {
                    padding-top: 15px;
          padding-bottom: 15px;
          
          
              padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

        }
        
        .grid-stack
        {
          overflow-y: hidden !important;

          
          
        }
        
        