@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Poiret+One|Covered+By+Your+Grace|Pacifico|Shadows+Into+Light);

#usr_label.pos_left {
    display: inline-block;
    width: auto;
    text-align: left;
    line-height: 2.4;
    font-size: 15px;
}

#usr_label.pos_right {
    display: inline-block;
    width: auto;
    text-align: right;
}

.left-span-input {
    display: inline-block;
    width: auto;
}

.width_100 {
    width: 100%;
}

.width_75 {
    width: 75%;
}

#usr_label {
    display: block;
}

#radio_label {
    line-height: 1.4;
    margin-left: 5px;
}

.pos_left {
    text-align: left;
}

.pos_right {
    text-align: right;
}

.pos_center {
    text-align: center;
}

.out_dashes {
    outline: 1px dashed grey !important;
}

.text_form {
    white-space: pre-line;
}

#sub_level_label {
    font-size: 13px !important;
}

body .own_box_padding_form p {
    font-size: 13px;
    color: #333333;
}

body label {
    font-weight: 400;
}

.own_box_padding .grid-stack-item-content {
    overflow-y: hidden !important;
}

#demo-submit .form-group input {
    margin-top: 3px !important;
    border-radius: 6px;
    border: none;
    background: #e4e4e4;
    border-bottom: 2px solid #868686 !important;
    padding: 9px 16px;
}

#demo-submit .form-group input:hover {
    border: none !important;
}

#demo-input .form-group input {
    height: 27px;
}

.grid-stack-item-content.ui-draggable-handle #demo-textarea .form-group #usr {
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px;
}

.grid-stack-item-content.ui-draggable-handle #demo-textarea .form-group #usr:focus {
    border-color: #66afe9;
    box-shadow: none;
}

.form-group.replace_input #usr {
    height: 46px !important;
    border-radius: 6px;
}

.grid-stack-item-content.ui-draggable-handle #demo-drop #usr {
    height: 38px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px 0 0 0;
}

.grid-stack-item-content.ui-draggable-handle #demo-drop #usr:focus {
    border-color: #66afe9;
    box-shadow: none;
}

.form-control:focus {
    border-color: #66afe9;
    box-shadow: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: black;
    /*    font-family:Arial, sans-serif;*/
    font-size: 14px;
}

input[type="radio"]:checked + label {
    color: orange;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"] + label span {
    background-color: #ccc;
}

input[type="radio"]:checked + label span {
    background-color: orange;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    color: black;
    /*    font-family:Arial, sans-serif;*/
    font-size: 14px;
}

input[type="checkbox"]:checked + label {
    color: #2edaea;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"] + label span {
    background-color: #ccc;
}

input[type="checkbox"]:checked + label span {
    background-color: #2edaea;
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.own_box_padding textarea:focus,
.own_box_padding input:focus,
.own_box_padding input:hover,
.own_box_padding select:hover,
.own_box_padding textarea:hover {
    border-color: #00adee;
    box-shadow: 0 0 5px rgba(0, 173, 238, 0.5), 0 0 3px rgba(0, 173, 238, 0.35) inset;
}

.captcha-wrapper img {
    border-radius: 5px 0 0 5px;
}

.cpt-text2 {
    display: inline;
    position: relative;
    width: 200px;
    height: 46px !important;
    padding: 7px;
    border-radius: 0 5px 5px 0;
}

.captcha-img {
    position: relative;
    left: 5px;
}
